* {
    box-sizing: border-box;
}

.parent {
    display: flex;
    width: 1000px;
    margin: 0 auto;
}

.parent div {
    width: 200px;
    height: 200px;
    background: orange;
    text-align: center;
    flex: 1 1 auto;
    border: 1px solid blue;
}

.parent div.one-off {
    flex: 2 1 auto;
}

.b {
    background-color: blue;
}

.a {
    background-color: #e6dc5a;
}

