@use './common/reset';
@use './common/variables';
@use './common/mixins';

.grid-container {
  margin: 0 auto;
  overflow: hidden;
  max-width: 350px;

  @include mixins.mq($from: tablet) {
    max-width: 700px;
  }

  @include mixins.mq($from: wide) {
    max-width: 1110px;
  }
}

.card-set {
  &__cards {
    @include mixins.mq($from: tablet) {
      width: calc(100% + 20px);
      margin: 0 -10px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .card {
      background: #ffecea;
      border-radius: 15px;
      margin: 0 10px 20px 10px;
      padding: 30px;
      text-align: center;
      width: calc(100% - 20px);

      @include mixins.mq($from: tablet) {
        width: calc((100% / 2) - 20px);
      }
      
      @include mixins.mq($from: wide) {
        width: calc((100% / 3) - 20px);
      }

    }
  }
}